<% content_for :current_page, 'review' %>

<%= render "shared/navbar"%>
<div class="album py-3 bg-light">
  <h2 class="text-center">Review</h2>
  <div class="container">
    <div class="row mb-5">
      <% @questions.each do |question| %>
        <div class="col-md-12">
          <div class="card mb-4 shadow-sm d-flex flex-fill"
              data-controller="flashcard">

            <div class="flashcard-container" data-flashcard-target="container">

              <!-- Front side -->
              <div class="card-body flip-card front" data-flashcard-target="question">
                <%= question.question_content %>
                <input type="text" class="answer-textbox" placeholder="Enter your answer" data-flashcard-target="userAnswer">
                <button class="flip-button" data-action="click->flashcard#flip">Flip</button>
              </div>

              <!-- Back side -->
              <div class="card-body flip-card back" data-flashcard-target="answer" data-action="click->flashcard#flipBack">
                <%= question.answers.first.answer_content %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
