<% content_for :current_page, 'review' %>

<%= render "shared/navbar"%>
<div class="album py-3 bg-light">
  <h2 class="text-center">Review</h2>
  <div class="container">
    <div class="row">
      <% @questions.each do |question| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm d-flex flex-fill"
              data-controller="flashcard"
              data-action="click->flashcard#flip">

            <!-- Front side -->
            <div class="card-body flip-card front" data-flashcard-target="question">
              <%= question.question_content %>
              <input type="text" class="answer-textbox" placeholder="Enter your answer">
              <button class="flip-button" data-action="click->flashcard#flip">Flip</button>
            </div>

            <!-- Back side -->
            <div class="card-body flip-card back hidden" data-flashcard-target="answer">
              <%= question.answers.first.answer_content %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
