
//  love and point part------------------------------------------------------
.love-point {
  display: flex;
  color: black;
  gap: 12px;
}

.buddy-love {
  margin: 0px;
  padding: 1px 8px;
  background-color: white;
  border-radius: 30px;
  // border: 0.5px solid #fd1015;
  font-size: 21px;
  width: 95px;
  height: 35px;
  box-shadow: 0 2px 4px 0 #fd1015;

  i {
    color: red;
    font-size: 22px;
  }
}

.user-points {
  margin: 0px;
  padding: 1px 8px;
  background-color: white;
  border-radius: 30px;
  // border: 0.5px solid #fd1015;
  font-size: 21px;
  width: 95px;
  height: 35px;
  box-shadow: 0 2px 4px 0 $yellow;

  img {
    margin-bottom: 5px;
  }
}


.buddy-name {
  margin-top: 8px;
  padding: 0;
  font-family: $title-font;
}

.buddy-room-img {
  background-image: url("https://res.cloudinary.com/dbmqippyl/image/upload/o_75/v1692107006/1347245_v5vsht.jpg");
  height: 300px;
  background-size: cover;
  position: relative;


//   background-repeat: no-repeat;
//   background-position: center;
}



// ----------------------buddy comment----------------------
.buddy-comment {

  margin: 0 10px;
  p {
    // position: relative;
    // padding: 6px;
    // border-radius: 30px;
    // background-color: $yellow;
    // color: white;
    // font-size: 15px;
    // margin: 10px 6px;
    position: absolute;
    padding: 12px 6px;
    border-radius: 30px;
    background-color: #fff;
    color: black;
    font-size: 15px;
    top: 65px;
    // margin: 0 8px;
    border: 3px solid orange;
    width: 95%;
  }

  p:before,
  p:after {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    content: "";
    border: 3px solid orange;
  }

  p:before {
    top: 112%;
    right: 25px;
    height: 15px;
    width: 15px;
  }

  p:after {
    top: 162%;
    right: 43px;
    height: 10px;
    width: 10px;
  }

}
// ----------------------sleeping buddy animation----------------------
.sleeping-buddy img{
  position: absolute;
  width: 65%;
  height: 125px;
  animation: fade 2.5s infinite alternate;
  top: 56%;
  left: 17%;
}

.sleeping-buddy .bottom {
  animation-delay: 1.5s;
}

@keyframes fade {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

// ----------------------awake buddy img----------------------
.awake-buddy img{
  animation: korokoro 2s linear 0s 0.8;
  position: absolute;
  width: 120px;
  height: 140px;
  top: 48%;
  left: 37%;
}

@keyframes korokoro {
  0%   { transform: translate(0%, 0%); }
  5%   { transform: translate(10%, 0%) rotate(10deg); }
  25%  { transform: translate(20%, 0%) rotate(20deg); }
  30%  { transform: translate(-10%, 0%) rotate(-10deg); }
  35%  { transform: translate(-15%, 0%) rotate(-15deg); }
  45%  { transform: translate(10%, 0%) rotate(10deg); }
  50%  { transform: translate(15%, 0%) rotate(15deg); }
  60%  { transform: translate(-5%, 0%) rotate(-5deg); }
  65%  { transform: translate(-7%, 0%) rotate(-7deg); }
  75%  { transform: translate(0%, 0%) rotate(0deg); }
  100% { transform: translate(0%, 0%) rotate(0deg); }
}


// ----------------------buddy eating animation----------------------
.buddy-eating img{
  position: absolute;
  width: 205px;
  height: 205px;
  animation: fade 2.8s infinite alternate;
  top: 37%;
  left: 25%;
}

.buddy-eating .bottom {
  animation-delay: 1.8s;
}

@keyframes fade {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

// ----------------------study buddy img----------------------

.buddy-studing img{
  animation: purupuru 0.8s linear 0s 1;
  position: absolute;
  width: 120px;
  height: 140px;
  top: 48%;
  left: 37%;
}

@keyframes purupuru {
  0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
  20%  { transform: scale(1.0, 1.06) translate(-5%, -4%) skew(6deg, 0deg); }
  50%  { transform: scale(1.0, 0.94) translate(5%, 4%) skew(-6deg, 0deg); }
  65%  { transform: scale(1.0, 1.03) translate(2%, -2%) skew(-3deg, 0deg); }
  80%  { transform: scale(1.0, 0.97) translate(-2%, 2%) skew(3deg, 0deg); }
  100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
}

// ----------------------playing buddy img----------------------

.animated-buddy-show {
  position: absolute;
  left: 35%;
  width: 170px;
  height: auto;
  top: 136px;
}

.buddy-play-2-show {
  animation: toggleBuddy 1s infinite reverse; // reverse makes the second image show when the first is hidden
}

@keyframes rollAway {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(-380px) rotate(360deg);
  }
}

.rolling-baseball-show {
  position: absolute;
  top: 89%;
  left: 90%;
  width: 30px; // Adjust width to your preference
  height: 30px; // Adjust height to your preference
  animation: rollAway 3.5s linear infinite;
}

//----------------------buddy showpage snack----------------------
.buddy-snacks {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
  padding: 0 8px;
}

.buddy-snack {
  background-color: $faded-yellow;
  box-shadow: 0 0 4px 0 $yellow;
  margin: 0px;
  border-radius: 3px 3px 0 0;
  width: 82px;
  height: 50px;
  padding: 5px 0;
}
// coin-points-------------------------------
.coin-points {
  display: flex;
  justify-content: space-between;
  margin: 0 8px 80px 8px;

  p {
    font-size: 14px;
    color: black;
    padding: 0;
    margin: 0;
  }
}

.coin-point {
  padding: 0 12px;
  box-shadow: 0 2px 4px 0 $yellow;
  border-radius: 0 0 3px 3px;
  width: 82px;
  height: 20px;
}
// .coin-point {
//   margin: 0px;
//   padding: 1px 8px;
//   background-color: white;
//   border-radius: 30px;
//   // border: 0.5px solid #fd1015;
//   width: 95px;
//   height: 35px;
//   box-shadow: 0 2px 4px 0 #fd1015;

// }


//----------------------buddy showpage paw----------------------
.show-buddy-links {
  margin-top: 10px;
}


@keyframes animate-station {
  0% { margin-top: 48px; }
  25% { margin-top: 47px; }
  50% { margin-top: 46px; }
  75% { margin-top: 47px; }
  100% { margin-top: 48px; }
}
.station-container {
display: grid;
grid-template-columns: repeat(6, 200px);
grid-template-rows: 152px 152px;
animation-name: animate-station;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-timing-function: steps(1);
}
