.buddy-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 230px;
  background-color: $faded-yellow;
  padding: 0;
}

.buddy-image {
  max-width: 100%;
  max-height: 100%;
}

.dashboard-paw {
  color: $yellow;
  font-size: 30px;
  padding: 10px;
}

.buddy-text {
  font-style: italic;
  margin-top: 10px;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: $dark-blue;
  position: relative;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.project-name {
  margin: 0;
  padding: 5px 0;
}

.project-status {
  font-style: italic;
  margin: 0;
  padding: 5px 0;
}

.horizontal-buttons {
  display: flex;
  padding: 15px;
  width: 100px;
}

.my-info li{
  list-style: none;
}

.latest-project {
  line-height: 40px;

  h6 {
    margin: 0;
    padding: 0;
  }
}
