.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-top {
  width: 100%;

  hr {
    border: none;
    border-top: 2px solid #333;
    width: 100%;
    margin: 5px auto 15px auto;
  }
}

.my-info {
  width: 100%;
}

.buddy-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 220px;
  background-color: $faded-yellow;
  padding: 0;
  position: relative;
}



.buddy-image {
  max-width: 100%;
  max-height: 100%;
}

.dashboard-paw {
  color: $yellow;
  font-size: 30px;
  padding: 10px;
}

.buddy-text {
  font-style: italic;
  margin-top: 10px;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: $dark-blue;
  position: relative;
}

.project-form-card {
  max-width: 330px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.project-name {
  margin: 0;
  padding: 5px 0;
}

.project-status {
  font-style: italic;
  margin: 0;
  padding: 5px 0;
}

.horizontal-buttons {
  display: flex;
  padding: 15px;
  width: 100px;
}

.my-info li{
  list-style: none;
}

h5 {
  font-size: 18px;
  color: $yellow;
}

h4 {
  color: $emerald;
  font-family: $title-font;
}


.latest-project {
  line-height: 40px;

  h6 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: black;
  }
}


.dashboard-label {
  font-size: 14px;
  background-color: $light-gray;
  color: $dark-blue;
  padding: 5px;
  margin: 8px;
  border-radius: 5px;
  display: inline-block;
  line-height: 1;

  a {
    color: $dark-blue;
    text-decoration: none;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.6;
    }
  }
}

.dashboard-title {
  font-size: 32px;
  color: $emerald;
  font-family: $title-font;
}


.project-form-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 10px;

  .form-group {
    margin-bottom: 20px;
  }
}

// Regular buddy

.regular-buddy {
  position: absolute;
  top: 30%;
  width: 100px;
  height: auto;
}

// Buddy face

.buddy-face {
  position: absolute;
  top: 30%;
  width: 150px;
  height: auto;
}

// Buddy playing baseball

.animated-buddy {
  position: absolute;
  left: 42%;
  top: 35%;
  width: 170px;
  height: auto;
}


@keyframes toggleBuddy {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.buddy-play-1 {
  animation: toggleBuddy 1s infinite;
}

.buddy-play-2 {
  animation: toggleBuddy 1s infinite reverse; // reverse makes the second image show when the first is hidden
}


@keyframes rollAway {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(-380px) rotate(360deg);
  }
}


.rolling-baseball {
  position: absolute;
  top: 82%;
  left: 90%;
  width: 30px; // Adjust width to your preference
  height: 30px; // Adjust height to your preference
  animation: rollAway 3.5s linear infinite;
}

// ----------------------sleeping buddy animation----------------------
.sleeping-buddy-dashboard img{
  position: absolute;
  width: 65%;
  height: 125px;
  animation: fade 2.5s infinite alternate;
  top: 35%;
  left: 17%;
}

.sleeping-buddy-dashboard .bottom {
  animation-delay: 1.5s;
}

@keyframes fade {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}


// ----------------------buddy comment----------------------
.dashboard-buddy-text {

  margin: 0 10px;
  p {
    // position: relative;
    // padding: 6px;
    // border-radius: 30px;
    // background-color: $yellow;
    // color: white;
    // font-size: 15px;
    // margin: 10px 6px;
    left: 37%;
    top: 8%;
    transform: translateX(-50%);
    position: absolute;
    padding: 2px 2px;
    border-radius: 30px;
    background-color: #fff;
    color: black;
    font-size: 14px;
    // margin: 0 8px;
    border: 3px solid orange;
    width: 60%;
  }

  p:before,
  p:after {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    content: "";
    border: 3px solid orange;
  }

  p:before {
    top: 120%;
    left: 25px;
    height: 15px;
    width: 15px;
  }

  p:after {
    top: 175%;
    left: 43px;
    height: 10px;
    width: 10px;
  }

}

// ------------- dashboard love and points ---------------
.dashboard-love {
  position: absolute;
  top: 10px;
  right: 10px;
  // display: flex;
  color: black;
  gap: 12px;
  z-index: 10;
}

.buddy-love-db {
  margin: 0px;
  padding: 1px 8px;
  background-color: white;
  border-radius: 30px;
  // border: 0.5px solid #fd1015;
  font-size: 14px;
  width: 65px;
  height: 25px;
  box-shadow: 0 2px 4px 0 #ff7072;
  margin: 7px;

  i {
    color: red;
    font-size: 18px;
  }
}

.user-points-db {
  margin: 0px;
  padding: 1px 8px;
  background-color: white;
  border-radius: 30px;
  // border: 0.5px solid #fd1015;
  font-size: 14px;
  width: 65px;
  height: 25px;
  box-shadow: 0 2px 4px 0 $yellow;
  margin: 7px;

  img {
    margin-bottom: 3px;
  }
}
