.buddy-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: $faded-yellow;
  padding: 0;
}

.buddy-image {
  max-width: 100%;
  max-height: 100%;
}

.fa-bone {
  color: $yellow;
  font-size: 30px;
  padding: 10px;
}

.fa-comments {
  color: $yellow;
  font-size: 30px;
  padding: 10px;
}

.buddy-text {
  font-style: italic;
  margin-top: 10px;
}
