.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-top {
  width: 100%;
}

.my-info {
  width: 100%;
}


.buddy-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 230px;
  background-color: $faded-yellow;
  padding: 0;
}

.buddy-image {
  max-width: 100%;
  max-height: 100%;
}

.dashboard-paw {
  color: $yellow;
  font-size: 30px;
  padding: 10px;
}

.buddy-text {
  font-style: italic;
  margin-top: 10px;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: $dark-blue;
  position: relative;
}

.project-form-card {
  max-width: 330px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.project-name {
  margin: 0;
  padding: 5px 0;
}

.project-status {
  font-style: italic;
  margin: 0;
  padding: 5px 0;
}

.horizontal-buttons {
  display: flex;
  padding: 15px;
  width: 100px;
}

.my-info li{
  list-style: none;
}

h5 {
  font-size: 18px;
  color: $yellow;
}

h4 {
  color: $yellow;
}


.latest-project {
  line-height: 40px;

  h6 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: $dark-blue;
  }
}


.dashboard-label {
  font-size: 14px; /* Adjust the font size as needed */
  background-color: $light-gray; /* Choose your desired background color */
  color: $dark-blue; /* Text color for better contrast */
  padding: 5px; /* Add padding to the label for spacing */
  margin: 8px;
  border-radius: 5px; /* Rounded corners */
  display: inline-block; /* Prevent long labels from breaking into multiple lines */
  line-height: 1; /* Reduce the line height to minimize spacing */

  a {
    color: $dark-blue;
    text-decoration: none;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.6;
    }
  }
}

.dashboard-title {
  font-size: 32px;
  color: $emerald;
  font-family: $title-font;
}


.project-form-container {
  max-width: 80%; /* You can adjust this value to your liking */
  margin: 0 auto; /* Centers the form container horizontally */
  padding: 10px;

  .form-group {
    margin-bottom: 20px; /* Space between form groups */
  }
}

// Play buddy animation

.animated-buddy {
  position: absolute;
  left: 50%;
  width: 170px; // Adjust width to your preference
  height: auto; // Adjust height to your preference
}

// Toggle buddy

@keyframes toggleBuddy {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.buddy-play-1 {
  animation: toggleBuddy 1s infinite;
}

.buddy-play-2 {
  animation: toggleBuddy 1s infinite reverse; // reverse makes the second image show when the first is hidden
}


// Define the baseball animation
@keyframes rollAway {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(-380px) rotate(360deg);
  }
}



// Add styles for the rolling baseball
.rolling-baseball {
  position: absolute;
  top: 75%;
  left: 90%;
  width: 30px; // Adjust width to your preference
  height: 30px; // Adjust height to your preference
  animation: rollAway 3.5s linear infinite;
}

.buddy-container {
  position: relative;
  height: 200px;
}

// ----------------------buddy comment----------------------
.dashboard-buddy-text {

  margin: 0 10px;
  p {
    // position: relative;
    // padding: 6px;
    // border-radius: 30px;
    // background-color: $yellow;
    // color: white;
    // font-size: 15px;
    // margin: 10px 6px;
    left: 22%;
    top: 8%;
    transform: translateX(-50%);
    position: absolute;
    padding: 4px 4px;
    border-radius: 30px;
    background-color: #fff;
    color: black;
    font-size: 14px;
    // margin: 0 8px;
    border: 3px solid orange;
    width: 40%;
  }

  p:before,
  p:after {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    content: "";
    border: 3px solid orange;
  }

  p:before {
    top: 115%;
    right: 25px;
    height: 15px;
    width: 15px;
  }

  p:after {
    top: 162%;
    right: 15px;
    height: 10px;
    width: 10px;
  }

}
