.footer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: fixed;
  bottom: 0;

  p {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 50px;
    color: black;
    text-align: center;
  }
}


// height: 50px;
// width: 100%;
// margin: 0;
// padding: 5px;
// // justify-content: space-between;
// // display: flex;
// position:sticky;
// top: 0;
