.profile-edit {
  background-color: white;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.tag-item {
  display: inline-block;
  width: 100%;

}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  // cursor: pointer;
  // display: inline-block;
  // font-size: 0.7rem;
  // border-radius: 50rem;
  // padding: 4px 5px;
  // background-color: #fdcf5a8f;
  // color: black;
  // margin-right: 0.6rem;
  // margin-bottom: 0.4rem;

    margin: 3px;
    padding: 4px;
    background-color: white;
    border-radius: 32px;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 2px 4px 0 $yellow;
}

.tag-selector:checked + label {
  background-color: $yellow;
  color: white;
}

// ------------------------------------
// profile edit
.profile_edit_card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 3px;
  padding: 4px 5px;
  gap: 0 10px;
  height: 320px
  // overflow-y: scroll;
}

.user_edit_interest {
  width: 100%;
}

.profile-edit h3 {
  font-family: $title-font;
  color: $emerald;
  font-size: 25px;
}
