// ProjectList-page
.project-list {
  padding: 0;
  background-color: white;
  overflow-y: scroll;
}

// ProjectList-page title
.projects-page-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
}
.projects-page-title h1 {
  color: $emerald;
  margin: 0;
  font-family: $title-font;
  font-size: 25px;
}
// ProjectList-page paw
.projects-page-title .paw {
  margin-right: 20px;
  padding: 0;
}

.projects-page-title .paw li {
  list-style: none;
  font-size: 20px;
  line-height:22px;
}
.yellow-paw-center {
  color: $yellow;
}

.small-link {
  color: $dark-blue;
}

// ProjectList-page buddy

.buddy-text {
  margin-bottom: 3px;
  margin-top: 0;
}

.projectslist-buddy-container {
  position: fixed;
  bottom: 0;
  height: 130px;
  justify-content: center;
  align-items: center;
  background-color: #f5e2b5;
  // background-color: $faded-yellow;
  padding: 0;
  margin: 0;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;

  .buddy-listing-image {
    margin-left: -70%
  }
}

// ------------------------------Project index tab------------------------------

.nav-tabs {
  display: flex;
  list-style:none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: $navbar-gray;
}

.nav-link {
  margin: 0;
  padding: 5px 9px;
  color: rgb(123, 123, 123);

  &:hover {
  color: black;
  }
}



// Play buddy animation

.animated-buddy-listing {
  position: absolute;
  width: 100px; // Adjust width to your preference
  height: auto; // Adjust height to your preference
}

// Toggle buddy

@keyframes toggleBuddy {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.buddy-backpack-1 {
  animation: toggleBuddy 1s infinite;
}

.buddy-backpack-2 {
  animation: toggleBuddy 1s infinite reverse; // reverse makes the second image show when the first is hidden
}




// ----------------------buddy comment----------------------
.listing-buddy-text {

  margin: 0 10px;
  p {
    // position: relative;
    // padding: 6px;
    // border-radius: 30px;
    // background-color: $yellow;
    // color: white;
    // font-size: 15px;
    // margin: 10px 6px;
    left: 65%;
    top: 8%;
    transform: translateX(-50%);
    position: absolute;
    padding: 4px 4px;
    border-radius: 30px;
    background-color: #fff;
    color: black;
    font-size: 14px;
    // margin: 0 8px;
    border: 3px solid orange;
    width: 60%;
  }

  p:before,
  p:after {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    content: "";
    border: 3px solid orange;
  }

  p:before {
    top: 100%;
    left: -15px;
    height: 15px;
    width: 15px;
  }

  p:after {
    top: 152%;
    left: -25px;
    height: 10px;
    width: 10px;
  }

}
