<% if notice %>
  <div data-controller="flash" data-flash-target="message" class="btn btn-outline-light alert" role="alert" id="alert1">
    <%= notice %>
    <button type="button" data-action="flash#dismiss" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>

<% if alert %>
  <div data-controller="flash" data-flash-target="message" class="btn btn-outline-light alert" role="alert1">
    <%= alert %>
    <button type="button" data-action="flash#dismiss" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
