<div class="modal">
  <div class="modal-content">
    <%# Dog Image %>
    <%= cl_image_tag("dog_main", { alt: "Animated Dog", data: { loading_target: "dogImage" }, height: 140, crop: :fill }) %>

    <%# Pizza Image %>

    <p>Loading...</p>
  </div>
</div>
