<div class="modal">
  <div class="modal-content">
    <%# Dog Image %>
    <div data-loading-target="dogImage">
      <%= cl_image_tag("gsv9qtfodjbhccbmhwws", { alt: "Animated Dog", height: 140, crop: :fill }) %>
    </div>

    <%# Pizza Image %>
    <%= cl_image_tag("pizza", alt: "Spinning Pizza", class: "spinning-pizza", style: "position:absolute; top:10%; left:50%;") %>

    <p>Loading...</p>
  </div>
</div>
