<div class="modal" data-loading-target="modal">
  <div class="modal-content">
    <%# Pizza Image %>
    <div class="pizza-container">
      <% 5.times do %>
        <%= image_tag("https://res.cloudinary.com/du53mgiot/image/upload/v1692323590/pizza.png", alt: "Spinning Pizza", class: "spinning-pizza") %>
      <% end %>
      <div data-loading-target="dogImage" class="centered-dog"></div>
    </div>
    <p>Loading...</p>
  </div>
</div>
