<div class="row homepage col-12">
  <%# paw %>
  <div class="paw">
    <ul>
      <li><i class="fa-solid fa-paw yellow-paw"></i></li>
      <li><i class="fa-solid fa-paw green-paw"></i></li>
      <li><i class="fa-solid fa-paw blue-paw"></i></li>
    </ul>
  </div>
  <%# banner %>
  <div class="bg-img d-flex">
    <div class="banner align-self-center">
      <h1>OnTrack</h1>
      <p>Discover your learning path</p>
      <div class="sign_in_up">
        <button class="yellow-btn">
          <%= link_to "Sign in", user_session_path%>
        </button>
        <button class="yellow-btn">
          <%= link_to "Sign up", new_user_registration_path%>
        </button>
      </div>
    </div>
  </div>


    <%# paw %>
  <div class="paw">
    <ul>
      <li><i class="fa-solid fa-paw yellow-paw"></i></li>
      <li><i class="fa-solid fa-paw green-paw"></i></li>
      <li><i class="fa-solid fa-paw blue-paw"></i></li>
    </ul>
  </div>
</div>
