// ProjectList-page card
.projects-listing-card {
  display: grid;
  grid-template-columns: 1fr;

  h6 {
    margin: 10px;
  }
}

.projects-listing-card .content {
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  opacity: 90%;
  // display: flex;
  height: 163px;
  justify-content: space-between;
  margin-bottom: 22px;
  // overflow: hidden;
  padding: 8px;
  overflow-y: scroll;
  position: relative;

  p {
    margin: 0;
    height: 100%;
  }

}

.category-tag {
  display: flex;
  margin-bottom: 6px;
  gap: 6px;
}

.project-deadlinedate {
  color: gray;
}

.lising-project-name {
  color: #4e4e4e;
  // text-decoration: underline;
  text-decoration: none;



  &:hover{
    // color: ;  h6 {
    color: black;
    // text-decoration: none;
    text-decoration: underline;
  }
}

.subject-tag {
  display: inline-block;
	padding: 0 4px;
	text-decoration: none;
	color: white;
	background-color: #09a599ab;
	border: 1px solid $emerald;
	border-left: 5px solid $emerald;
  box-shadow: 0 0 10px rgba(0,0,0,0);
  height: 22px;
  text-align: left;

  p {
    margin: 0;
    font-size: 14px;
    color: white;
    text-shadow: 0px 0.1px 0.1px $emerald;
  }
}


.status-tag {
  display: inline-block;
	margin-left: 6px;

	padding: 0 4px;
	text-decoration: none;
	color: white;
	background-color: #fdcf5acf;
	border: 1px solid $yellow;
	border-left: 5px solid $yellow;
  box-shadow: 0 0 10px rgba(0,0,0,0);
  height: 22px;
  // text-align: left;

  p {
    margin: 0;
    font-size: 14px;
    color: white;
    text-shadow: 0px 0.1px 0.1px $yellow;
  }
}

.content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 14px;
  position: absolute;
  bottom: 8px;
}


// ------------------------------------
// Project show page
.showpage-projects-card {
  display: grid;
  grid-template-columns: 1fr;
  // margin-bottom: 20px;
}

.showpage-projects-card .show-content {
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  opacity: 90%;
  // display: flex;
  height: 360px;
  justify-content: space-between;
  margin-bottom: 20px;
  // overflow: hidden;
  padding: 8px;
  overflow-y: scroll;

  p {
    margin: 0;
  }

  h6 {
    text-decoration: underline;
  }
}

.content-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 12px;
  position: relative;

  p {
    height: 100%;
  }
}

.show-status-content {
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  opacity: 90%;
  // display: flex;
  height: 150px;
  justify-content: space-between;
  margin-bottom: 14px;
  // overflow: hidden;
  padding: 8px;
  overflow-y: scroll;

  p {
    margin: 0;
  }

  h6 {
    text-decoration: underline;
  }
}
.show-content .content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 14px;
  position: relative;
  bottom: 0px;
}
// status progress bar
.progBar{
  width: 328px;
  height: 18px;
  background-color:#ececec;
  position:relative;
  border-radius:10px;
  overflow: hidden;
}
.progBar .bar{
  position:absolute;
  height:100%;
  background-color: $yellow;
  animation: progress 3s normal;
  animation-fill-mode: forwards;
}
@keyframes progress {
  0% {width: 0}
  // 50% {width: 50%}
  100% {width: 100%}
}


// ------------------------------------
// user profile page
.interests-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  opacity: 90%;
  padding: 8px 4px;
  overflow-y: scroll;

  p {
    padding: 0;
    margin: 0 10px;
  }
}

.profile_card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 6px 0;
}

.user_interest{
  margin: 3px;
  padding: 4px 5px;
  background-color: #fdcf5a8f;
  border-radius: 32px;
  font-size: 12px;
  text-align: center;
}


.user_interest p{
  margin: 0;
  padding: 0;
}


.subject-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  opacity: 90%;
  padding: 8px 4px;
  overflow-y: scroll;
  margin-bottom: 10px;

  p {
    padding: 0;
    margin: 0 10px;
  }
}

.user-subject {
  margin: 3px;
  padding: 4px 5px;
  background-color: #fdcf5a8f;
  border-radius: 32px;
  font-size: 12px;
  text-align: center;
}
