.navbar {
  background-color: $navbar-gray;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 10px;
  // justify-content: space-between;
  // display: flex;
}


.navbar-icons {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 400px;
}


.navbar-icons li {
  list-style: none;
}

.navbar-icons i{
  color: $dark-blue;
  font-size: 25px;

  &:hover {
    color: $emerald;
    box-shadow: 0 0 10px rgba(0,0,0,0);
  }
}
ul li h6 {
  color: $dark-blue;
  text-align: center;
}
