.navbar-ontrack {
  background-color: $navbar-gray;
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 5px;
  // justify-content: space-between;
  // display: flex;
  position:sticky;
  top: 0;
}


.navbar-icons {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  // width: 400px;
}


.navbar-icons li {
  list-style: none;
}

.navbar-icons i{
  color: $dark-blue;
  font-size: 25px;

  &:hover {
    color: $emerald;
    box-shadow: 0 0 10px rgba(0,0,0,0);
  }
}
ul li p {
  color: $dark-blue;
  padding: 0;
  margin: 0;
  font-size: 10px;
  text-align: center;
}

.info {
  color: $dark-blue;
  list-style: none;
}
